@import be.objectify.deadbolt.core.PatternType
@import be.objectify.deadbolt.scala.DeadboltHandler
@import be.objectify.deadbolt.scala.ViewAccessPoint.viewSupport
@import scala.collection.JavaConversions._
@(handler: DeadboltHandler, value: String, patternType: PatternType = PatternType.EQUALITY, timeout: Function0[Long] = viewSupport.defaultTimeout)(body: => play.twirl.api.Html)(alternativeBody: => play.twirl.api.Html)(implicit request: Request[Any])

@if(viewSupport.viewPattern(value, patternType, handler, timeout(), request)) {
@body
} else {
@alternativeBody
}