@import be.objectify.deadbolt.scala.DeadboltHandler
@import be.objectify.deadbolt.scala.ViewAccessPoint.{viewSupport, handlers}
@import scala.collection.JavaConversions._
@(handler: DeadboltHandler = handlers(), roles: List[Array[String]], timeout: Function0[Long] = viewSupport.defaultTimeout)(body: => play.twirl.api.Html)(alternativeBody: => play.twirl.api.Html)(implicit request: Request[Any])

@if(viewSupport.restrict(roles, handler, timeout(), request)) {
@body
} else {
@alternativeBody
}
