@import be.objectify.deadbolt.scala.{AuthenticatedRequest, DeadboltHandler}
@import play.api.Play.current
@import be.objectify.deadbolt.scala.ViewAccessPoint.Implicits._
@import scala.collection.JavaConversions._
@(handler: DeadboltHandler = handlerCache.apply(), timeout: Function0[Long] = viewSupport.defaultTimeout)(body: => play.twirl.api.Html)(alternativeBody: => play.twirl.api.Html)(implicit request: AuthenticatedRequest[Any])

@if(viewSupport.subjectPresent(handler, timeout(), request)) {
@body
} else {
@alternativeBody	
}