@(handler: be.objectify.deadbolt.scala.DeadboltHandler, value: String, patternType: be.objectify.deadbolt.core.PatternType = be.objectify.deadbolt.core.PatternType.EQUALITY)(body: => play.twirl.api.Html)(alternativeBody: => play.twirl.api.Html)(implicit request: be.objectify.deadbolt.scala.AuthenticatedRequest[Any])

@import scala.collection.JavaConversions._

@if(be.objectify.deadbolt.scala.DeadboltViewSupport.viewPattern(value, patternType, handler, request)) {
@body
} else {
@alternativeBody
}